<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= image_tag @pin.image.url(:medium) if @pin.image? %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.cktext_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tags, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button "Save pin", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving pin..."} %>
  </div>
<% end %>