<% provide(:title, @pin.title) %>
<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
            <h2><%= @pin.title %></h2>
        <div class="center">
          <%= image_tag @pin.image.url(:show).to_s, class: "img-responsive" %>
        </div>
      </div>
      <div class="panel-body">
        <p><%= (@pin.description).html_safe %></p>
        <% @pin.tags.any? %>
          <% @pin.tags.each do |tag| %>
            <span class="label label-primary">
              <%= link_to tag.name, tag_path(tag.name) %>
            </span>  
          <% end %>
      </div>
          <p class="placed-at">
            Geplaatst op <%= @pin.created_at.strftime("%d/%m/%Y") %> om <%= @pin.created_at.strftime("%H:%M") %>
          </p>
          <div id="share-buttons">

          </div>
        <div class="panel-footer">
        <% if current_user && @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %> | 
        <% end %>
        <%= link_to "Terug", pins_path, class: "btn btn-success" %><br>
        <%= render "shared/disqus" %>
      </div>
    </div>
</div>