<% provide(:title, 'Gebruikers') %>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Gebruikers (<%= @users.count %>)</h1></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Username</th>
    <th>Email</th>
    <th>Lid sinds</th>
    <th>Aantal logins</th>
    <th>Huidig IP-adres</th>
  </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.current_sign_in_ip %></td>
    </tr>
  </tbody>
  <% end %>
  </table>
  <div class="panel-footer">
  </div>
</div>