<% provide(:title, 'Home') %>

<div class="jumbotron center">


<% if @homes.title? %>
  <h1><%= @homes.title %></h1>
<% else %>
  <h1>Welkom op Ineke Vosman.nl!</h1>
<% end %><br>

<% if @homes.body? %>
  <p><%= (@homes.body).html_safe %></p>
<% else %>
  <p>Welkom op Ineke Vosman.nl!</p>
<% end %>
  <p>
    <%= link_to "Artikelen", pins_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Contact", contact_path, class: "btn btn-primary btn-lg" %>
  </p>
      <% if user_signed_in? %>
  <p>
    <%= back_to homes_path %>
  </p>
<% end %>
</div>