<%= form_for @home, html: { multipart: true } do |f| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button 'Save page', class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving page..."} %>
  </div>
<% end %>