<div class="jumbotron center">
<h1>Inschrijving voor:</h1>
    <center>
    <div class="box panel panel-primary">
      <div class="panel-heading">
            <h2><%= @subscription.plan.name %></h2>
      </div>
      <div class="panel-body">
        <% @subscription.plan.details.each do |detail| %>
        <p><%= detail.content %></p>
        <% end %>
      </div>
              <div class="panel-footer">
        <p><strong><%= number_to_currency @subscription.plan.price %></strong></p>
      </div>
    </div>
    <center><br>

<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Bevestig", class: "btn btn-success" %>
    <%= link_to "Annuleer", plans_path, class: "btn btn-danger" %>
  </div>
<% end %>
</div>