<% provide(:title, 'Subscribers') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      Volgers (<%= @subscribers.count %>)
    </h1>
    <%= link_to 'Nieuwe volger', new_subscriber_path, class: "btn btn-lg btn-success" %>
  </div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Email</th>
    <th>Lid sinds</th>
    <th>Verwijder</th>
  </tr>
  </thead>
  <% @subscribers.each do |subscriber| %>
  <tbody>
    <tr>
      <td><%= subscriber.first_name %> <%= subscriber.last_name %></td>
      <td><%= subscriber.email %></td>
      <td><%= subscriber.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= link_to subscriber, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span> Verwijder volger
      <% end %></td>
    </tr>
  </tbody>
  <% end %>
  </table>
  <div class="panel-footer">
  </div>
</div>